<div class="slideshow-container">
    {{#each banner}}
        <div class="mySlides fade shadow">
            <img src={{bannerImageUrl}} alt={{bannerImageAlt}} />
        </div>
    {{/each}}
</div>
<div class="dots">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
</div>