<header class="header shadow">
    <section class="container header-top">
        <div>
            <ul class="menu">
                <li class="">
                    <a href="/login">Signin</a>
                </li>
                <li>
                    <a href="/register">Singup</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="container header-nav">
        <div class="navigation">
            <div class="logo">
                <img src="./images/logo.png" alt="Logo" />
            </div>
            <ul class="menu">
                <li class="linkactive">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/products.html">Products</a>
                </li>
            </ul>
        </div>
        <div class="cart">
            Menu
        </div>  
    </section>
     
</header>