<header class="header flex flex-column shadow">
    <section class="container flex items-center justify-flex-end">
        <div>
            <ul class="menu items-center">
                <li class="">
                    <a href="/login.html">Signin</a>
                </li>
                <li>
                    <a href="/register.html">Singup</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="container flex items-flex-end justify-space-between">
        <div class="flex items-center justify-space-between">
            <div class="logo">
                <img src="./static/images/logo.png" alt="Logo" />
            </div>
            <ul class="menu items-center">
                <li class="linkactive">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/products.html">Products</a>
                </li>
            </ul>
        </div>
        <div class="cart flex items-center">
            <div class="cart-icon">
                <img src="./static/images/cart.svg" alt="cart-icon" />
            </div>
            <div class="cart-items">0 Items</div>
        </div>  
    </section>
     
</header>