@import '../abstract/variables';

.form {
    gap: 30px;
    display: flex;
    flex-direction: column;

    &-control {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    &-input {
        border: 0px;
        border-bottom: 2px solid $grey;
        padding: 5px;
        font-size: 1rem;
    }
}
