<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
</head>
<body class="main">
    {{> partials/header}} 
    <main>
        <section class="products-header space-between">
            <div>
                <span>Fruits & Vegistables</span>
            </div>
            <div>
                <i class="arrow down"></i>
            </div>
        </section>
        <section class="container" id="products"></section>
    </main>
    {{> partials/footer}} 
</body>
</html>