<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
</head>
<body class="main">
    {{> partials/header}} 
    <main class="container">
        <section class="login-container flex items-flex-start">
            <div class="login-content flex flex-column">
                <h1>Signup</h1>
                <p>We don't share your personal details with anyone.</p>
            </div>
            <div id="register-form">
           
            </div>
        </section>
    </main>
    {{> partials/footer}} 
</body>
</html>