@import '../abstract/variables';

footer {
    padding: 10px;
    background: $grey;
    font-size: 0.75rem;

    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include respond('desktop') {
        font-size: 1rem;
        .copyright {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }
}