@import '../abstract/variables';

.btn {
    padding: 10px 15px;
    background-color: $primary;
    color: white;
    outline: 0px;
    border:0;
    cursor: pointer;

    &:hover {
        background-color: $primaryhover;
    }

    &-submit {
        width: 100%;
        padding: 15px;
        font-size: 1rem;
    }


}